<header class="header">
  <div class="header__inner uk-container uk-container-center">
    <a href="/" class="logo">Classic Theme</a>
    <span class="logo__storyblok">made with <a href="https://www.storyblok.com">Storyblok</a></span>
  </div>
</header>
